[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fabric = "*"
docker = "*"
randomname = "*"
rmx = {editable = true, path = "."}
simple-slurm-command = "*"

[dev-packages]
pytest = "*"
flake8 = "*"

[requires]
python_version = "3.8"
