{
    "project": {
        "name": "awesome-project",
        "environment": {
            "YOUR_ENV_VAR": "whatever value"
        },
        "mount": [
            "../some-credential"
        ]
    },
    "machines": {
        "tticslurm": {
            "environment": {
                "YOUR_ENV_VAR": "custom envvar specific to a machine"
            }
        }
    }
}
