{
    "project": {
        "name": "awesome-project",  /* This is JSON5 format file, so you can write some comments */
        "environment": {
            "YOUR_ENV_VAR": "whatever value"
        },
        "mount": [
            "../some-credential"
        ]
    },
    "machines": {
        "tticslurm": {
            "environment": {
                "YOUR_ENV_VAR": "custom envvar specific to a machine"
            }
        }
    }
}
