{
    "project": {
        "name": "awesome-project",  /* This is JSON5 format file, so you can write some comments */
        "environment": {
            "YOUR_ENV_VAR": "whatever value"
        },
        "mount": [
            "../some-credential"
        ]
    },
    "machines": {
        "birch": {
            "mode": "docker",
            "docker": {
                "image": "ubuntu:14.04"
            }
        },
        "tticslurm": {
            "environment": {
                "YOUR_ENV_VAR": "custom envvar specific to a machine"
            },
            "singularity": {
                "sif_file": "/share/data/ripl/takuma/singularity-workspace/diffuser-robosuite.sif",
                "overlay": "/share/data/ripl/takuma/singularity-workspace/overlay.img"
            }
        }
    }
}
